header {
    height: 30px;
    box-shadow: 0 5px 10px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-link:hover {
    text-decoration: none;
}

.login-link {
    color: #000;
    position: relative;
    font-size: 17px;
    margin: 0 20px;
}

.login-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 1px;
    background: #000;
    transition: 0.2s;
}

.login-link:hover::before {
    width: 100%;
}
